node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.vite/
.output/
.netlify/
.wrangler/
.tanstack/
.lovable-tasks
.lovable-tasks/**
playwright-report/
playwright-report-performance/
test-results/
